@import "tailwindcss";
@plugin "daisyui" {
  themes: black --default, dark, light, cupcake, bumblebee, emerald, corporate,
    synthwave, retro, cyberpunk, valentine, halloween, garden, forest, aqua,
    lofi, pastel, fantasy, wireframe, black, luxury, dracula, cmyk, autumn,
    business, acid, lemonade, night, coffee, winter, dim, nord, sunset;
}
@theme {
  --font-para: "Roboto", sans-serif;
  --font-logo: "Exo 2", sans-serif;
}

/* Hide scrollbar but keep scrolling */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.dot-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.dot-grid__wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.dot-grid__canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
